<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Canvas detector</title>
    <style>
        *{box-sizing: border-box;}
        body{font-family:helvetica,sans;padding:15px;text-align:center;margin:0 auto;width:100%;color:#1c1c1c;}
        #logo{border-radius:50%;overflow:hidden;width:144px;height:144px;margin:15% auto 0 auto;}
        input{font-size:18px;color:#444;}
        h3{display:inline-block;padding:20px;}
        h1,h2,h3{line-height:1.2}
        body{font-size:18px;color:#444;}
        form {padding: 30px;}
        input[type="text"]{ display: inline; margin: 0; width: 50%; font-family: sans-serif; appearance: none;
        box-shadow: none; border: none; border-bottom: solid 2px #c9c9c9; border-radius: none; margin:5px;}
        a {margin: 10px;}
        .result{text-align:left;width:70%; margin: 0 auto;}
        .script{background-color:#dddddd; padding:10px;}
        .excerpt{font-size:12px; font-family:monospace;}
        .report{margin:20px}
        .screencap{text-align:center;}
        .timestamp{text-align:right;font-size:50%;}
    </style>
</head>
<body>
<h1>canvas-tfg</h1>

<h3>Canvas fingerprint detection</h3>

<form method="get" action="/s">
    <input type="text" placeholder="Type an url..." name="q" value="{{url}}"><input type="submit" value="Go">
</form>

<div id="result">{% if result %}{% include 'result.html' %}{% endif %}</div>

<a href="https://bitbucket.org/aespuna/canvas-tfg">source code</a> <a href="#">what is this?</a>
{% if task_id -%}
<script>
(function(){
var container = document.getElementById("result");
var timer = setInterval(function(){
var xhr = new XMLHttpRequest();
xhr.open('GET', '/t/{{task_id}}', true);
xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
        var resp = JSON.parse(xhr.responseText);
        if (resp.html){container.innerHTML = resp.html;}
        if (resp.finished){clearInterval(timer);}
    }
};
xhr.send(null);
}, 1000);
})();


</script>
{% endif -%}
</body>
</html>
